<nb-layout>
  <nb-layout-header fixed>
    <!-- Insert header here -->
    <h1 style="margin: 0;">MusicMash</h1>
    <span style="flex-grow: 1;"></span>
    <nb-toggle (checkedChange)="changeTheme($event)" labelPosition="end"
      ><nb-icon icon="bulb-outline" status="primary"></nb-icon
    ></nb-toggle>
    <button
      status="danger"
      nbButton
      (click)="startNewParty()"
      *ngIf="router.url !== '/'"
    >
      <span>New Party</span><nb-icon icon="plus-outline"></nb-icon>
    </button>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
