<ng-container *ngIf="!loading">
  <nb-card *ngIf="!party">
    <nb-card-body class="party-card">
      <label for="nameInput">Name</label>
      <input
        id="nameInput"
        nbInput
        fullwidth
        fieldSize="giant"
        placeholder="Partyname..."
        [(ngModel)]="partyNameModel"
      />
      <label for="passwordInput">Password</label>
      <input
        name="passwordInput"
        nbInput
        fullwidth
        fieldSize="giant"
        placeholder="Password..."
        [(ngModel)]="partyPasswordModel"
      />
      <button
        status="success"
        [disabled]="partyNameModel === '' || partyPasswordModel === ''"
        nbButton
        (click)="authenticateHost()"
      >
        Connect to Spotify
      </button>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="party">
    <h1>{{ party.name }}</h1>
    <div *ngFor="let member of party.partygoers">
      {{ member.username }}, Host: {{ member.host }}
    </div>
    <button nbButton status="primary" (click)="addMember()">Add Member</button>
  </nb-card>
  <nb-card *ngIf="tracks.length > 0">
    <h1>Top Tracks</h1>
    <div *ngFor="let track of tracks">
      {{ track.name }} by {{ track.artists[0].name }}
    </div>
  </nb-card>
</ng-container>

<button status="success" nbButton (click)="partyTime()" *ngIf="party">
  PARTY TIME
</button>
<button status="warning" nbButton (click)="startNewParty()">
  New Party
</button>

<ng-container *ngIf="loading">Loading ...</ng-container>
