<div class="card-wrapper">
  <nb-card>
    <nb-card-body class="party-card">
      <ng-container>
        <h1>Tracks</h1>
        <div *ngFor="let track of party.suggestedTracks; let i = index">
          <div class="artist-container" *ngIf="i < 5">
            <img
              [src]="track.artist.images[track.artist.images.length - 1].url"
            />
            <div class="artist-text">
              <span>{{ track.artist.name }}</span>
              <span>{{ track.name }}</span>
            </div>
          </div>
        </div>
        <button
          nbButton
          outline
          class="playlist-button"
          status="success"
          (click)="openPlaylist()"
          *ngIf="party.playlistUrl"
        >
          Open Playlist<nb-icon icon="external-link-outline"></nb-icon>
        </button>
      </ng-container>
    </nb-card-body>
  </nb-card>
</div>
