<div class="card-wrapper">
  <nb-card>
    <nb-card-body>
      <ng-container>
        <h1>{{ party?.name }}</h1>
        <div *ngFor="let member of party?.partygoers" class="member-list">
          <ng-container *ngIf="member.host">
            <nb-icon class="person-icon" icon="play-circle-outline"></nb-icon
            >{{ member.username }}
          </ng-container>
          <ng-container *ngIf="!member.host">
            <nb-icon class="person-icon" icon="person-outline"></nb-icon
            >{{ member.username }}<span style="flex-grow: 1;"></span
            ><nb-icon
              class="close-icon"
              (click)="removeMember(member.username)"
              icon="close-circle-outline"
            ></nb-icon>
          </ng-container>
        </div>
        <button nbButton outline status="info" (click)="addMember()">
          Copy Invite Link<nb-icon icon="link-2-outline"></nb-icon>
        </button>
      </ng-container>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <button
      class="main-button"
      status="success"
      nbButton
      fullWidth
      (click)="partyTime()"
      [disabled]="actionLoading"
      [nbSpinner]="actionLoading"
    >
      <nb-icon icon="link-2-outline"></nb-icon>PARTY TIME
    </button>
  </nb-card>
</div>
